body {
  background-color: #f2e9e4;
  max-width: 100%;
}

.App .body-container {
  padding-top: 1.5rem;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
