body {
    background-color: #f2e9e4;
}

.front {
    position: absolute;
}

.front input.box-select {
    width: 200px;
}

.box {
    border: 2px dotted black;
    cursor: pointer;
}

.picker {
    width: 200px;
    margin-left: 20px;
}
