.front {
    position: absolute;
    top: 10%;
    left: 25%;
}

.front input.box-select {
    width: 200px;
}

.box {
    border: 2px dotted black;
    cursor: pointer;
}

.picker {
    width: 200px;
    margin-left: 20px;
}
