body {
    background-color: #f2e9e4;
}

.front input.box-select {
    width: 100px;
}

.box {
    border: 2px dotted black;
    cursor: pointer;
}

.picker {
    width: 200px;
    margin-left: 20px;
}

.btn {
    background-color: #22223b;
    color: #f2e9e4;
}

.btn:hover {
    color: #c9ada7;
}
