.footer {
    background-color: #22223b;
    color: #c9ada7;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 3.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
}

.footer .footer-text {
    display: block;
    text-align: center;
    /* margin-left: 50px; */
    padding-top: 5px;
    font-size: 1em;
}
.footer i {
    font-size: 1.1em;
}

.footer a {
    padding: 0;
    margin-left: 0.5rem;
}

@media (max-width: 500px) {
    .footer {
        height: 5rem;
    }
    .footer .footer-text {
        margin: 0 0.8rem;
    }
}
