/* .app-picture {
    width: 492px;
    height: 300px;
    border: 5px solid #22223b;
    box-shadow: 2px 2px 10px black;
} */

.not-bold {
    font-weight: normal;
}

.card-img-top-card {
    height: 18rem;
    object-fit: cover;
    border-radius: 16px;
}

.size-window {
    width: 50%;
    height: 50%;
    border: 2px 2px 10px black;
}

.card-radius {
    border-radius: 16px;
    margin-top: 20px;
}

.LandingPage .header {
    margin: 2rem 0;
    font-weight: bolder;
}

.LandingPage .app-picture {
    width: 70%;
    min-width: 350px;
}

.overview {
    font-size: 1.3rem;
    margin: 2rem 0;
}

#get-started {
    display: inline-block;
    width: 40%;
    text-align: center;
    min-width: 300px;
}

#login {
    margin-left: 1.5rem;
}

.sign-up {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.developers {
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    /* text-align: center; */
}

.developers h2 {
    font-weight: bolder;
    margin-top: 4rem;
}
