/* .jumbotron {
    background-image: url("https://images.unsplash.com/photo-1596567181723-ba7d15eacefb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=627&q=80");
    background-repeat: no-repeat;
} */

.landing-cards {
    display: flex;
    justify-content: center;
}

.app-picture {
    width: 492px;
    height: 300px;
    border: 2px solid #22223b;
    box-shadow: 2px 2px 10px black;
}
